torch==2.6.0
torchvision==0.21.0
timm==1.0.15
transformers==4.49.0
numpy==1.26.4
pandas==2.2.3
Pillow==11.1.0
opencv-python==4.11.0.86
scikit-image==0.25.2
scikit-learn==1.6.1
joblib==1.4.2
tqdm==4.67.1
matplotlib==3.10.0
grad-cam==1.5.4
nbformat==5.10.4
